{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | Login{% endblock %}

{% block css %}
<link href="{% static 'registration/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<body>
  <div class="container">
    <div class="login-data">
      <div class="data">
        <img class="logo-img" src="{% static 'registration/img/logo.png' %}" alt="" />

        <h3 class="data-h3">Welcome Back!</h3>
        {% if 'register' in request.GET %}
        <p style="color: green;">Usuario registrado correctamente</p>
        {% endif %}

        <div class="form-container">
          <form class="form-login" method="post">{% csrf_token %}
            {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
            {% endif %}
            <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="input-info"
              placeholder="Nombre de usuario" />
            <br />
            <input type="password" name="password" required id="id_password" class="input-info"
              placeholder="Contraseña" />
            <br />
            <p class="register-txt">
              <a class="forgot-txt" href="{% url 'password_reset' %}">I Forgot my password</a>
            </p>
            <input class="input-submit" type="submit" value="LOGIN" />
          </form>
        </div>
        <p class="register-txt">
          Don't have an account?
          <a href="{% url 'signup' %}">Register here</a>
        </p>
      </div>
    </div>
    <div class="posters-img">
      <img class="posters" src="{% static 'registration/img/imgLogin.jpg' %}" alt="" />
    </div>
  </div>
</body>
{% endblock %}
