{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | Change Password{% endblock %}

{% block css %}
<link href="{% static 'registration/css/restCont.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
<div class="content-container">
  <h3 class="title-pas">Change Password</h3>
  <p class="content-txt">
    Please write your old password for safety, then write your new password
    and verify you wrote ir correctly.
  </p>
  <form class="form-box" action="" method="post">{% csrf_token %}
    {{form.old_password.errors}}
    <input class="input-info" type="password" placeholder="Old passowrd" name="old_password" />
    {{form.new_password1.errors}}
    <input class="input-info" type="password" placeholder="New passowrd" name="new_password1" />
    {{form.new_password2.errors}}
    <input class="input-info" type="password" placeholder="New passowrd (verification)" name="new_password2" />
    <div class="btns-form">
      <button class="btn-back">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <input class="input-submit" type="submit" value="CHANGE MY PASSWORD" />
    </div>
  </form>
</div>
{% endblock %}
