{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | Profile{% endblock %}

{% block css %}
<link href="{% static 'registration/css/perfil.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
<div class="profile-container">
  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="profileHeader-container">
    <div class="main-profileHeader-container">

      {% if request.user.perfil.image %}
      <div class="pfp-container">
        <img src="{{request.user.perfil.image.url}}" alt="" class="pfp" />
      </div>
      {% else %}
      <div class="pfp-container">
        <img src="{% static 'registration/img/no-avatar.jpg' %}" alt="" class="pfp" />
      </div>
      {% endif %}

      <div class="main-profileHeader-txt">
        <h3 class="pf-name">Profile Name</h3>
        <p class="email">{{request.user.email}}</p>
          <br>
          <input type="file" name="image" class="form-control-file mt-3" id="id_image">
      </div>
    </div>
  </div>

  <div class="profileContent-container">
    {{ form.bio }}
    <div class="profileData-container">
      <div class="changeData-container">
        <h4>
          If you want to change your email click
          <a class="link-change" href="{% url 'profile_email' %}">Here</a>
        </h4>
        <h4>
          If you want to change your password click
          <a class="link-change" href="{% url 'password_change' %}">Here</a>
        </h4>
      </div>
      <div class="btns-form">
        <button class="btn-back">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button type="submit" class="input-submit">CHANGE INFORMATION</button>
      </div>
    </div>
  </div>
  </form>
</div>
{% endblock %}
