{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | Change Email{% endblock %}

{% block css %}
<link href="{% static 'registration/css/restCont.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
<div class="content-container">
  <h3 class="title-pas">Change Email</h3>
  <p class="content-txt">
    Write your new email. <br />
    It must be 254 characters maximum and a valid format.
  </p>
  <form class="form-box" action="" method="post">{% csrf_token %}
    {{form.email}}
    <div class="btns-form">
      <button class="btn-back">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <input class="input-submit" type="submit" value="CHANGE MY EMAIL" />
    </div>
  </form>
</div>
{% endblock %}
