{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | {{b}}{% endblock %}

{% block css %}
<link href="{% static 'blog/css/blogPage.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
<div class="blog-header-container">
    <img class="blog-img" src="{{blog.image.url}}" alt="" />

    {% if request.user == blog.user %}
    <div class="create-post-btn-container">
        <a href="{% url 'create-post' blog.id %}">
            <h4 class="add-post-txt">
                Add post <i class="fa-solid fa-circle-plus"></i></h4>
        </a>
    </div>
    {% endif %}
</div>

{% for post in posts %}
<div class="blog-post-container">
    <h2 class="blog-title-txt">{{post.name}}</h2>
    <p class="blog-desc-txt">
        {{post.content|safe|truncatechars:9}}
    </p>
    <div class="view-post-btn-container">
        <a href="{% url 'view-post' post.id %}">
            <h4 class="view-post-txt">View Post</h4>
        </a>
    </div>
    {% if request.user == blog.user %}
    <div class="create-post-btn-container">
        <a href="{% url 'edit-post' post.id %}">
            <h4 class="add-post-txt">Edit post</h4>
        </a>
    </div>
    <div class="create-post-btn-container">
        <a href="{% url 'delete-post' post.id %}">
            <h4 class="add-post-txt">Delete post</h4>
        </a>
    </div>
    {% endif %}
</div>
{% empty %}
{% if request.user == blog.user %}
<p>Start posting!</p>
{% else %}
<i style="color: gray;">No posts, yet!</i>
{% endif %}

{% endfor %}
{% endblock %}
