{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | My Blogs{% endblock %}

{% block css %}
<link href="{% static 'core/css/blogPage.css' %}" rel="stylesheet">
<link href="{% static 'core/css/nav.css' %}" rel="stylesheet">
<link href="{% static 'blog/css/myBlogs.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
{% for b in blog_list %}
<div class="blog-header-container">
  <img class="blog-img" src="{{b.image.url}}" alt="" />
  <div class="create-post-btn-container">
    <a href="{% url 'view-blog' b.id %}">
      <h4 class="add-post-txt">
        {{b}} | See More <i class="fa-solid fa-circle-plus"></i></h4>
    </a>
  </div>
  <div class="create-post-btn-container">
    <a href="{% url 'delete-blog' b.id %}">
      <h4 class="add-post-txt">
        {{b}} | Delete Blog <i class="fa-solid fa-circle-plus"></i></h4>
    </a>
  </div>
</div>
{% empty %}
<h4 class="title"> Create your fist blog! </h4>
{% endfor %}
{% endblock %}
