{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | {{post.name}}{% endblock %}

{% block css %}
<link href="{% static 'blog/css/postPage.css' %}" rel="stylesheet">
<link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
<div class="main-container">
  <div class="post-topInfo-container">
    <h3 class="post-title">{{post.name}}</h3>
    <p class="post-info">
      {{post.content|safe}}
    </p>
    <div class="message-send-box">
        <button type="button" class="input-submit" data-toggle="modal" data-target="#exampleModal">
          Write a Comment!
        </button>
    </div>
  </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <input type="submit" value="Comment">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

  <div class="comment-section">
    {% for comment in comments %}
    <div class="message-box">
      <h4 class="userName">{{comment.user}}</h4>
      <p class="message">
        {{comment.content}}
      </p>
    </div>
    {% empty %}
    <div class="message-box">
      <p class="message">
        No comments yet.
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}
