


.content-container{
    width: 40%;
    margin: 4% auto;
    font-family: 'Space Grotesk';
}

.title-pas{
    font-size: 2rem;
}

.content-txt{
    margin: 4% 0 8%;
    line-height: 1.5;
}

.form-box{
    display: flex;
    flex-direction: column;
}

input{
    height: 40px;
    margin: 1% 0 1% 0%;
    font-family: 'Space Grotesk';
}

.input-info{
    margin: 1% 2% 1% 0%;
    border-radius: 5px;
    padding-left: 13px;
    border: 1px solid #1b1919c2;
}

.btn-back{
    margin: 1% 2% 1% 0%;
    height: 40px;
    width: 10%;
    border-radius: 5px;
    border: 1px solid #1b1919c2;
    font-size: 1rem;
}

.input-submit{
    width: 85%;
    background-color: #121212;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    color: #F6F1F1;
}

input:focus::placeholder{
    color: black;
    font-weight: 700;
}

