{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | All Rooms{% endblock %}

{% block css %}
<link href="{% static 'core/css/blogPage.css' %}" rel="stylesheet">
<link href="{% static 'core/css/nav.css' %}" rel="stylesheet">
<link href="{% static 'rooms/css/roomPage.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}
<div class="roomPage-content-container">
  <div class="roomHeader-container">
    <div class="roomHeader-item-container">
      <h4>Host: {{room.host}}</h4>
    </div>
    <div class="roomHeader-item-container">
      <h4>Room name: {{room.name}}</h4>
    </div>
    <div class="roomHeader-item-container">
      <h4>
        Description:
        {{room.description}}
      </h4>
    </div>
      <p>Participants:</p>
      {% for participant in participants %}
      <p>@{{participant}}</p>
      {% empty %}
      <p>No participants, yet.</p>
      {% endfor %}
  </div>

  <div class="message-container">
    <h5 class="content-label">Content:</h5>

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="input-submit" type="submit" value="SEND" />
    </form>

  </div>
  <div class="message-box-container">
    {% for message in messages %}
    <div class="message-box">
      <h4 class="userName">{{message.user}}</h4>
      <p class="message">
        {{message}}
      {% if request.user == message.user %}
        <a href="{% url 'delete-message' message.id %}">X</a>
      {% endif %}
      </p>
    </div>
    {% empty %}

    <p>No messages found</p>

    {% endfor %}

  </div>

</div>
{% endblock %}
