{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | Rooms Status{% endblock %}

{% block css %}
<link href="{% static 'core/css/nav.css' %}" rel="stylesheet">
<link href="{% static 'blog/css/blogStatus.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content%}
<div class="status-container">
  <div class="st-status-container">
    <div class="title-container">
      <h4 class="h4-title">The most used topic in all the rooms</h4>
    </div>

    <i class="fa-solid fa-award fa-3x"></i>
    <div class="name-container">
      <h2 class="h2-name">{{topic.0.NAME}}</h2>
    </div>
    <p class="p-txt">
      This topic was used a total of {{topic.0.CantidadSalas}} times when people were creating
      rooms. <span>Where you one of them?</span>
    </p>
  </div>
  <div class="nd-status-container">
    <div class="title-container">
      <h4 class="h4-title">The room with more users</h4>
    </div>

    <i class="fa-solid fa-award fa-3x"></i>
    <div class="name-container">
      <h2 class="h2-name">{{room.0.NAME}}</h2>
    </div>
    <p class="p-txt">
      This room has a total of {{room.0.CantidadUsuarios}} users. <span>Are you one of them?</span>
    </p>
  </div>
  <div class="rd-status-container">
    <div class="title-container">
      <h4 class="h4-title">The room with more messages</h4>
    </div>

    <i class="fa-solid fa-award fa-3x"></i>
    <div class="name-container">
      <h2 class="h2-name">{{mensajes.0.NombreRoom}}</h2>
    </div>
    <p class="p-txt">
      This room has a total of {{mensajes.0.CantidadMensajes}} messages. <span>Any from you?</span>
    </p>
  </div>
</div>
{% endblock %}
