{% extends 'core/base2.html' %}
{% load static %}

{% block title %}TechConnect | All Rooms{% endblock %}

{% block css %}
<link href="{% static 'core/css/blogPage.css' %}" rel="stylesheet">
<link href="{% static 'core/css/nav.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% include 'core/includes/navbar.html' %}
{% endblock %}

{% block content %}

<form class="d-flex" role="search" method="POST">
 {% csrf_token %}
 <input
    class="form-control me-2"
    type="search"
    placeholder="Search"
    name="search_query"
    required aria-label="Search">
 <button class="btn btn-outline-success" type="submit">Search</button>
</form>

{% for r in room_list %}
<div class="blog-post-container">
  <h2 class="blog-title-txt">{{r.name}}</h2>
  <h5 class="blog-title-txt">{{r.topic.name}}</h5>
  <p class="blog-desc-txt">
    {{r.description}}
  </p>
  <div class="view-post-btn-container">
    <a href="{% url 'view-room' r.id %}">
      <h4 class="view-post-txt">See Room</h4>
    </a>
  </div>
</div>
{% empty %}
<h4 class="mb-4"> No Rooms found </h4>
{% endfor %}

{% endblock %}
